@model IEnumerable<ECommenceMangoDbRedisBasket.Models.urunlerEntity>

@{
    ViewData["Title"] = "Index";
}

<h1>Urunler</h1>
@foreach (var item in Model)
{
    <div class="card" style="    float: left;    margin: 1%; width:18rem;">
        <img src="~/img/@Html.DisplayFor(modelItem => item.Gorsel1)" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">  @Html.DisplayFor(modelItem => item.UrunAdi)</h5>
            <p class="card-text">@Html.DisplayFor(modelItem => item.Aciklama)</p>
            <h4>  @Html.DisplayFor(modelItem => item.Fiyat)</h4>
            @Html.ActionLink("Sepete Ekle", "siparisCasheEkle","Sepet", new {  id=item.UrunAdi  },new { @class = "btn btn-primary"} )
           
        </div>
    </div>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model._id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UrunAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fiyat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aciklama)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gorsel1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gorsel2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KategoriID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item._id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UrunAdi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fiyat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Aciklama)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gorsel1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gorsel2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KategoriID)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
